.home-section {
    display: flex;
    flex-direction: row; /* flex direction as row */
    flex-wrap: wrap; /* allows wrapping */
    height: 100vh;
    width: 100%;
    align-items: flex-start; /* aligns items to the start */
    text-align: center;
    justify-content: space-between;
    padding: 2%; 
    top: 12%;
    left: 12%;
    position: relative;
    transition: filter 0.3s ease;
}

.home-section.blurred {
    filter: blur(5px); /* applys blur effect when contact form is open */
}

#bubble {
    background-color: #eee;
    padding: 2%; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 620px;
    width: 100%;
}

.description {
    background-color: white;
    padding: 2%; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 620px;
    width: 90%;
    order: 1; /* ensures the description comes first */
}

.button-container {
    position: absolute;
    transform: translate(0%, 18em);
    display: flex;
    gap: 2%; 
    margin-top: 2%; 
    width: 100%; /* makes the button container take the full width */
    order: 2; /* ensures the button container comes right after the description */
}

.resume, .contact {
    font-size: 1em;
    padding: 1.5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 160px;
    min-width: 160px;
    width: auto;
    flex: 1;
}

.resume {
    color: #DBE2EF;
    background-color: #3F72AF;
    border: 2px solid #3F72AF; 
}

.contact {
    color: #112D4E;
    background-color: #DBE2EF;
    border: 2px solid #3F72AF; 
}

.resume a, .contact a {
    color: inherit;
    text-decoration: none;
}

.resume p, .contact p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

h1, h2, h3 {
    margin: 1% 0; 
}

h1 {
    font-size: 4.5rem;
    color: #000;
}

h2 {
    font-size: 2em;
    color: #3F72AF;
}

h3 {
    color: #000;
    font-size: 1em;
}

/* Contact Popup */
.contact-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.contact-form {
    background-color: white;
    padding: 2%; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    text-align: center;
}
  
.contact-form h2 {
    margin-bottom: 2%; 
}
  
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1%; 
    margin: 1% 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.contact-form button {
    padding: 1% 2%;
    margin-top: 1%;
    border: none;
    background-color: #3F72AF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
 }
  
.close-button {
    margin-top: 2%; 
    padding: 1% 2%; 
    border: none;
    background-color: #ccc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.picture-container {
    position: relative;
    transform: translate(250%, -80%);
    margin-right: 0;
    display: flex;
    width: 40vw; /* relative units for width */
    height: 40vw; /* relative units for height to maintain aspect ratio */
    max-width: 400px;
    max-height: 400px;
    background-color: #DBE2EF;
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    order: 1; 
}

.picture-background img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.picture-background {
    position: absolute;
    top: 3%; 
    right: 3%; 
    width: 40vw; /* relative units for width */
    height: 40vw; /*  relative units for height to maintain aspect ratio */
    max-width: 400px;
    max-height: 400px;
    z-index: 1; 
}
