.projects-container {
  padding: 20px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 40px;
}

.project-card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 10vw;
  width: 40vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.05); /* Increase size by 2% */
  box-shadow: 0 0 10px 5px rgba(63, 114, 175, 0.5);
}

.project-card.expanded {
  transform: scale(1.1);
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
  transition: filter 0.3s;
  z-index: 0; 
}

.project-card.expanded .project-image {
  filter: blur(0);
}

.project-content {
  position: relative;
  z-index: 1; 
  padding: 10px;
}

.project-title {
  font-size: 1.5em;
  color: #112D4E;
  margin: 10px 0;
}

.project-description {
  font-size: 1em;
  color: #666;
}
