.projects-container {
  padding: 20px;
  text-align: center;
}

.projects-container h1 {
  color: #3F72AF;
  text-shadow: 3px 3px 4px rgba(17, 45, 78, 0.9);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 40px;
}

.project-card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 10vw;
  width: 40vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.05); /* Increase size by 2% */
  box-shadow: 0 0 10px 5px rgba(63, 114, 175, 0.5);
}

.project-card.expanded {
  transform: scale(1);
  height: 30vw;
  transition: 0.5s;
}

.project-card.scaled-down {
  transform: scale(0.9);
  opacity: 80%;
  transition: 0.5s;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(2px);
  transition: filter 0.3s;
  z-index: 0; 
}

.project-card.expanded .project-image {
  filter: blur(0px);
}

.project-content {
  position: relative;
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-size: 1.5em;
  color: #F9F7F7;
  text-shadow: 0 0 5px #112D4E, 0 0 5px #112D4E;
  margin: 10px 0;
}

.project-description {
  background-color: rgba(249, 247, 247, 0.9);
  width: 30vw;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 1em;
  color: #3F72AF;
  padding: 20px;
  margin-bottom: 10px; /* Add space between description and the github link */
}

.github {
  font-size: 1.5em;
  color: #3F72AF;
  background-color: #F9F7F7;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.1s ease; /* smooth transition */
}
