/* App.css */
.App {
  background-color: #eee;
  min-height: 500vh;
  width: 100%;
  
}

/* Smooth scrolling */
body, html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden; /* prevents horizontal overflow (scroll bar) */
}

*, *::before, *::after {
  box-sizing: inherit;
}

.section {
  height: 150vh; /* ensures each section takes up the full viewport height */
  display: flex;
  width: 100%; /* ensures it does not exceed the viewport width */
}