/* Styling for the app container */
.App {
  background-color: #eee;
  min-height: 500vh;
  width: 100%;
  overflow-x: auto; /* Prevent horizontal overflow */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
